.user-img {
    margin: 15px 0 15px 0;
}

.dates {
    border: 1px solid #444444;
    border-radius: 5px;
    padding: 20px 0px;
    margin: 10px 20px;
    font-size: 16px;
    color: #5aadef;
    font-weight: 600;
    overflow: auto;
}

.dates div {
    float: left;
    width: 50%;
    text-align: center;
    position: relative;
}

.dates strong,
.stats strong {
    display: block;
    color: #807c7c;
    font-size: 12px;
    font-weight: 700;
}

.dates span {
    width: 1px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    background: #444444;
}

.stats {
    margin: 0 20px;
    border: 1px solid #444444;
    overflow: auto;
    padding: 15px 0;
    font-size: 16px;
    columns: #444444;
    font-weight: 700;
    border-radius: 5px;
}

.stats div {
    border-right: 1px solid #444444;
    width: 25%;
    float: left;
    text-align: center;
}

.stats div:last-child {
    border-right: none;
}

.chart {
    padding: 60px 0 100px 0;
    width: auto;
}
