@import 'bootstrap/dist/css/bootstrap.min.css';

.App {
  text-align: center;
}

.text-center {
  margin: 25px 5px 5px 5px;
}

.main {
  padding-top: 90px;
}

.footer-copyright {
  text-align: center;
  color: #fff;
  background-color: #343434;
}

.nav-item {
  margin-left: 15px;
}

.navbar {
  color: #fff;
  background-color: #343434;
}
